/* Reset Styles */
* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
/* Common Styles */
.common-btn {
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-weight: bold;
    font-size: 32px;
}

.logo-r {
    color: #fd6e0a;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

/* Hero Section Start */
.hero-parent-root {
    background-color: #fff8f3;
}

.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}

.hero-left-p-1 {
    font-size: 20px;
    font-weight: 600;
}

.hero-left-btn-parent {
    margin-top: 12px;
}

/* Amazing works styles */
.my-amazing-parent{
    text-align: center;
}
.my-amazing-parent h2{
    margin: 70px 0 20px 0;
}
.gallery{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 12px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six";
}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery-1{
    grid-area: one;
}
.gallery-2{
    grid-area: two;
}
.gallery-3{
    grid-area: three;
}
.gallery-4{
    grid-area: four;
}
.gallery-5{
    grid-area: five;
}
.gallery-6{
    grid-area: six;
}