*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.common-btn{
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
}
.logo{
    font-weight: bold;
    font-size: 32px;
}
.logo-r{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}